.center {
  text-align: center;
}

table {
    width: 100% !important;
}


.button {
  color: #292b2c !important;;
  background-color: #fff;
  border-color: #292b2c;
  float: left !important;
  margin-right: 0.3em;
  cursor: pointer;
}