<br />
<div>
    <div class="row">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px !important;"> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef style="width: 300px !important;"> Nome </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef style="width: 300px !important;"> E-mail </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="acao">
                    <th mat-header-cell *matHeaderCellDef style="width: 50px !important;"> Ação </th>
                    <td mat-cell *matCellDef="let element">
                        <button id="excluir" type="button" title="Excluir" class="btn btn-info logar button"
                            (click)="excluir()">X</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <br />
    <div style="float: right;">
        <div class="row">
            <button id="registrar" type="button" class="btn btn-info button" routerLink="/register">Registrar</button>
        </div>
    </div>
</div>