<div class="center">
    <div class="center">
        <img id="logo" class="center" src="assets/img/radio.png">
    </div>

    <div class="center">
        <input id="username" placeholder="Usuário" [(ngModel)]="User.username" /><br />
        <input id="password" type="password" [(ngModel)]="User.password" placeholder="Senha" /><br /><br />
    </div>

    <div class="center">                               
        <button id="registrar" type="button" class="btn btn-info button" routerLink="/register">Registrar</button>
        <button id="logar" type="button" class="btn btn-info logar button" (click)="login()">Logar</button>       
    </div>

</div>