.center {
  text-align: center;
}

input {
    width: 400px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
  }

  #login, #senha {
    border-bottom: inset;
  }

  .button {
    color: #292b2c !important;;
    background-color: #fff;
    border-color: #292b2c;
    float: right !important;
    margin-right: 0.3em;
    cursor: pointer;
  }

  .registrar {
    color: #292b2c !important;;
    background-color: #fff;
    border-color: #292b2c;
    float: right !important;
  }

  .registrar:hover {background-color: #84c4ff}

  .button:hover {background-color: #dadada}

  .button:active {
    background-color: #dadada;
    box-shadow: 0 5px #dadada;
    transform: translateY(4px);
}
