.center {
    text-align: center;
}

.invalid-feedback {
    color: red;
}

.button {
    color: #292b2c !important;;
    background-color: #fff;
    border-color: #292b2c;
    float: right !important;
    margin-right: 0.3em;
    cursor: pointer;
  }