<br/>
<div class="center"><h2>Cadastro de Usuário</h2></div>
<br/><br/>
<form [formGroup]="registerForm" style="width: 400px !important;">
    <div class="form-group">
        <label for="username">Nome</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Campo nome é obrigatório.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Campo e-mail é obrigatório.</div>
            <div *ngIf="f.email.errors.email">Informe um Email válido.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Campo senha é obrigatório.</div>
            <div *ngIf="f.password.errors.minlength">Senha deve ter pelo menos 6 characters.</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-info button" (click)="register()"> Register
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        </button>
        <button class="btn btn-info button" *ngIf="currentUser" routerLink="/user">Cancelar </button>
        <button class="btn btn-info button" *ngIf="!currentUser" routerLink="/login">Cancelar </button>
    </div>

    
</form>
